@import "tailwindcss";

:root {
  /* ----- Fonts ----- */
  --font-body: "Inter", sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-serif: "Source Serif Pro", serif;
  --font-subheading: "Inconsolata", sans-serif;

  /* ----- Colors ----- */
  --color-background: #0d0d0d;
  --color-outline: #5f5f5f40;
  --color-card-border: #363637;
  --color-accent: #6360ff;

  /* Text Colors */
  --color-text-heading: #ffffff;
  --color-text-body: rgba(255, 255, 255, 0.65);
  --color-text-subheading: rgba(255, 255, 255, 0.395);
  --color-text-active: #ffffff;

  /* Legacy variables for compatibility */
  --background: var(--color-background);
  --foreground: var(--color-text-body);
}

@layer base {
  p, li {
    @apply text-[14px] leading-[1.6];
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-text-body);
  font-family: var(--font-body);
}

@layer components {
  .link {
    @apply text-gray-100 underline-offset-4 relative cursor-pointer decoration-dotted decoration-gray-600 underline;
    /* inherit from parent */
    font-size: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    line-height: inherit;
  }
}
